html {
  height: 100%;
  line-height: 1.5;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

a {
  color: #0284c7;
}

a:hover {
  color: #0ea5e9;
}

a:visited {
  color: #3730a3;
}

ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

ul > li {
  position: relative;
  padding-left: 1.2em;
  margin: 0.5em 0;
}

ul > li:before {
  position: absolute;
  top: 0.4em;
  left: 0.25em;
  width: 0.3em;
  height: 0.3em;
  content: "";
  background: #ccc;
  border-radius: 50%;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  padding: 0.2em;
  background-color: #f5f5f4;
  border-radius: 4px;
  display: inline-block;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
}

button + button {
  margin-left: 8px;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

header {
  width: 100%;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 640px) {
  header {
    display: flex;
  }
}

footer {
  position: sticky;
  bottom: 0;
  top: 100%;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.9em;
  opacity: 0.8;
  backdrop-filter: blur(8px);
}

@media (min-width: 800px) {
  footer {
    left: calc(50% - 400px);
  }
}

#__next {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
}

.github {
  font-size: 0.9em;
  padding: 0.5em 1em;
  display: inline-flex;
  justify-items: center;
  align-items: center;
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  background-color: rgb(31, 41, 55);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: transform 0.15s ease-out;
  will-change: transform;
}

.github:active {
  transform: scale(0.98);
}

.github:hover,
.github:visited {
  color: rgba(255, 255, 255, 0.8);
}

.github-icon {
  margin-right: 0.5em;
}

.alert {
  display: inline-block;
  padding: 1em;
  border-radius: 6px;
  background-color: #ffedd5;
  color: #7c2d12;
}
